.content {
    flex: 1 0 auto;
    position: relative;

    &.game {
        display: flex;
        align-items: center;
    }

    canvas {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        min-height: 672px;
    }

    #game__animation {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        min-height: 672px;
    }

    .game__play {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: #4b4c4e;
        // background: #313131;
        color: $white;
        font-size: 36px;
        font-family: Pixel;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: $blood;
            margin: 0 17px;
        }
    }

    .pause {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: #333;
        opacity: 0.5;
        // background: #313131;
        color: $white;
        font-size: 36px;
        font-family: Pixel;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: $blood;
            margin: 0 17px;
        }
    }
}

.game {
    &__dead {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        background-color: #0e0e0e;
        font-family: Pixel;
        font-size: 24px;
    }

    &__stat {
        display: flex;
        flex-direction: column;
        width: 432px;
        height: 635px;
        padding: 347px 62px 49px 62px;
        background: url(../img/dead/death.gif);
    }

    &__title {
        font-size: 42px;
        color: $blood;
        text-align: center;
        margin-bottom: 10px;
    }

    &__text {
        margin: 10px 0;
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        width: 100%;

        &.btns {
            margin-top: 28px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
        padding: 10px 15px;
        color: $white;
        border: 4px solid $blood;
        transition: background 0.2s ease-in;
        cursor: pointer;

        &:hover {
            background: $blood;
        }
    }

    &__wave {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 300px;
        text-align: center;
        color: $white;
        background: $dark;
        font-family: Pixel;
        font-size: 50px;
        border: 4px solid $blood;
        padding-bottom: 6px;
    }
}